.navlink {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #6b7280;
  list-style-type: none;
}
.navlink:hover {
  color: #111827;
  padding-bottom: 8px;
  border-bottom: 2px solid #0694a2 ;
}

.active {
  border-bottom: 2px solid #0694a2;
  padding-bottom: 8px;
}
